blinker==1.9.0
click==8.3.3
colorama==0.4.6
Flask==3.1.3
greenlet==3.4.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
psycopg2==2.9.12
redis==7.4.0
SQLAlchemy==2.0.49
typing_extensions==4.15.0
Werkzeug==3.1.8


#  Understanding Base62, Base64, and Other Encodings: A ...Base62 is a positional numeral system that uses 62 alphanumeric characters (0–9, a–z, A–Z) to represent numbers in a compact, URL-safe format